.app {
    display: flex;
    flex-direction: column;
    height: 100%;
    /*justify-content: ;*/
}

.button {
    font-size: 40pt;
    height: 100%;
    color: white;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.5s;
}

.button--happy {
    background-color: #468847;
}

.button--neutral {
    background-color: #f0ad4e;
}

.button--sad {
    background-color: #880000;
}

.button--active {
    background-color: white;
}
